main{
    margin-top: 100px;
    margin-bottom: 130px;
}
.titre-contact{
    background: rgb(157, 230, 243);
    color: black;
    font-family: 'Montserrat' 'sans serif';
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-primary{
    background: rgb(157, 230, 243) !important;
    color: black !important;
    border: 1px solid rgb(1, 1, 51) !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.card label{
    color: black;
    font-family: 'Montserrat' 'sans serif';
    font-size: 25px;
}