main{
    padding-top: 100px;
}

/*======== Shirts section =========*/
#shirts h1{
    font-family: 'Monserrat' 'sans serif';
    font-style: 45px;
    font-weight: 600;
    color: rgb(1, 1, 26);
    margin-bottom: 30px;
}