main{
    padding-top: 100px;
}

/*======== Shirts section =========*/
#shirts h1{
    padding-top: 30px;
    font-family: 'Monserrat' 'sans serif';
    font-style: 45px;
    font-weight: 600;
    color: rgb(1, 1, 26);
    margin-bottom: 30px;
}
#shirts span{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(1, 1, 26);
}
.entete{
    background: beige;
}