main{
   
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/*======== Shirts section =========*/
#shirts h1{
    padding-top: 30px;
    font-family: 'Monserrat' 'sans serif';
    font-style: 45px;
    font-weight: 600;
    color: rgb(1, 1, 26);
    margin-bottom: 30px;
}
#shirts span{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(1, 1, 26);
}
.entete{
    background: beige;
}
#shirts h2{
    padding-top: 20px;
    font-family: 'Monserrat' 'sans serif';
    font-style: 35px;
    font-weight: 500;
    color: rgb(1, 1, 26);
    margin-bottom: 20px;
}
.categorie_title{
    background: rgb(252, 234, 208);
}
.item1{
     padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("../images/item1.jpeg");
    background-size: cover;
}
.item2{
     padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("../images/item2.jpeg");
}
.item3{
     padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("../images/item3.jpeg");
    background-size: cover;
}
.item4{
     padding-top: 100px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url("../images/item4.jpg");
}
.item5{
     padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0, 0.05), rgba(0,0,0, 0.6)), url("../images/item5.jpg");
    background-size: cover;
}
#list_banner{
    height: 600px;
}
#list_banner h1{
    padding-top: 100px;
    font-family: 'Montserrat' 'sans serif';
    font-size: 48px;
    color: rgba(245, 245, 245, 0.651);
    font-weight: 700;
}
#list_banner span{
    text-align: center;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 500;
    color: rgba(245, 245, 245, 0.651);
}

/* tee shirt */
.card img{
    height: 200px;
}
.card{
    background: rgb(252, 234, 208);
    max-width: 350px;
}
.modal-img img{
    max-width: 400px;
    text-align: center;
}
.modal-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-text ul{
    margin-top: 15px;
    margin: auto;
    list-style: none;
    text-align: start;
    font-family: 'Roboto' 'sans serif';
    font-size: 21px;
    font-weight: 400;
}
.modal-text ul li span{
    font-weight: 500;
    font-size: 25px;
}

.modal-text h4{
    font-family: 'Montserrat' 'sans serif';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.modal{
    background: rgb(252, 234, 208);
}




