/* ======= General ==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}


/* ======= header section ========*/
.website_logo{
    height: 50px;
    border-radius: 5px;
}
nav ul li a{
    font-family: 'Monserrat' 'sans serif';
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke !important;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.market-icone i{
    position: relative;
    display: inline-block;
    animation-name: market;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes market{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        color: rgb(201, 197, 197);
    }
    100%{
        transform: scale(1);
    }
}
@media screen and (max-width:992px) {
    .market-icone{
        margin-top: 20px;
    }
    
}
@media screen and (max-width:1162px) and (min-width: 992px) {
    nav ul li a{
        font-size: 15px;
        /* font-weight: 500; */
    }
    .website_logo{
        width: 75%;
    }
    
}
main{
    /* height: 900px; */
}
#footer{
    font-size: 23px;
    color: whitesmoke;
    font-weight: 400;
    font-family: 'Montserrat';
}
#footer i{
    display: inline-block;
    font-size: 40px;
    padding-right: 20px;
    cursor: pointer;
}
